@font-face {
  font-family: "lundi-icon";
  src: url("./fonts/lundi-icon.eot?76665223");
  src: url("./fonts/lundi-icon.eot?76665223#iefix") format("embedded-opentype"),
    url("./fonts/lundi-icon.woff2?76665223") format("woff2"),
    url("./fonts/lundi-icon.woff?76665223") format("woff"),
    url("./fonts/lundi-icon.ttf?76665223") format("truetype"),
    url("./fonts/lundi-icon.svg?76665223#lundi-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: 'lundi-icon';
	  src: url('../font/lundi-icon.svg?76665223#lundi-icon') format('svg');
	}
  }
  */
i[class^="icon-"]:before,
i[class*=" icon-"]:before {
  font-family: "lundi-icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-grid:before {
  content: "\e800";
} /* '' */
.icon-heart:before {
  content: "\e801";
} /* '' */
.icon-home:before {
  content: "\e802";
} /* '' */
.icon-image:before {
  content: "\e803";
} /* '' */
.icon-inbox:before {
  content: "\e804";
} /* '' */
.icon-italic:before {
  content: "\e805";
} /* '' */
.icon-laptop:before {
  content: "\e806";
} /* '' */
.icon-layers:before {
  content: "\e807";
} /* '' */
.icon-layout:before {
  content: "\e808";
} /* '' */
.icon-link:before {
  content: "\e809";
} /* '' */
.icon-link-alt:before {
  content: "\e80a";
} /* '' */
.icon-list:before {
  content: "\e80b";
} /* '' */
.icon-location:before {
  content: "\e80c";
} /* '' */
.icon-lock:before {
  content: "\e80d";
} /* '' */
.icon-log-in:before {
  content: "\e80e";
} /* '' */
.icon-log-out:before {
  content: "\e80f";
} /* '' */
.icon-map:before {
  content: "\e810";
} /* '' */
.icon-megaphone:before {
  content: "\e811";
} /* '' */
.icon-menu:before {
  content: "\e812";
} /* '' */
.icon-message:before {
  content: "\e813";
} /* '' */
.icon-message-alt:before {
  content: "\e814";
} /* '' */
.icon-minimize:before {
  content: "\e815";
} /* '' */
.icon-mobile:before {
  content: "\e816";
} /* '' */
.icon-moon:before {
  content: "\e817";
} /* '' */
.icon-next:before {
  content: "\e818";
} /* '' */
.icon-notification:before {
  content: "\e819";
} /* '' */
.icon-notification-off:before {
  content: "\e81a";
} /* '' */
.icon-options-horizontal:before {
  content: "\e81b";
} /* '' */
.icon-options-vertical:before {
  content: "\e81c";
} /* '' */
.icon-pause:before {
  content: "\e81d";
} /* '' */
.icon-pen:before {
  content: "\e81e";
} /* '' */
.icon-percentage:before {
  content: "\e81f";
} /* '' */
.icon-pin:before {
  content: "\e820";
} /* '' */
.icon-play:before {
  content: "\e821";
} /* '' */
.icon-previous:before {
  content: "\e822";
} /* '' */
.icon-print:before {
  content: "\e823";
} /* '' */
.icon-refresh:before {
  content: "\e824";
} /* '' */
.icon-rain:before {
  content: "\e825";
} /* '' */
.icon-remove:before {
  content: "\e826";
} /* '' */
.icon-reorder:before {
  content: "\e827";
} /* '' */
.icon-repeat:before {
  content: "\e828";
} /* '' */
.icon-reorder-alt:before {
  content: "\e829";
} /* '' */
.icon-search:before {
  content: "\e82a";
} /* '' */
.icon-save:before {
  content: "\e82b";
} /* '' */
.icon-select:before {
  content: "\e82c";
} /* '' */
.icon-send:before {
  content: "\e82d";
} /* '' */
.icon-settings:before {
  content: "\e82e";
} /* '' */
.icon-share:before {
  content: "\e82f";
} /* '' */
.icon-shopping-cart:before {
  content: "\e830";
} /* '' */
.icon-shopping-cart-add:before {
  content: "\e831";
} /* '' */
.icon-shuffle:before {
  content: "\e832";
} /* '' */
.icon-snow:before {
  content: "\e833";
} /* '' */
.icon-snowflake:before {
  content: "\e834";
} /* '' */
.icon-sort:before {
  content: "\e835";
} /* '' */
.icon-sort2:before {
  content: "\e836";
} /* '' */
.icon-sort-inactive:before {
  content: "\e837";
} /* '' */
.icon-sort-bot:before {
  content: "\e838";
} /* '' */
.icon-speakers:before {
  content: "\e839";
} /* '' */
.icon-sort-top:before {
  content: "\e83a";
} /* '' */
.icon-stop:before {
  content: "\e83b";
} /* '' */
.icon-storm:before {
  content: "\e83c";
} /* '' */
.icon-sun:before {
  content: "\e83d";
} /* '' */
.icon-strikethrough:before {
  content: "\e83e";
} /* '' */
.icon-sunrise-alt:before {
  content: "\e83f";
} /* '' */
.icon-sunset:before {
  content: "\e840";
} /* '' */
.icon-sunrise:before {
  content: "\e841";
} /* '' */
.icon-table:before {
  content: "\e842";
} /* '' */
.icon-switch:before {
  content: "\e843";
} /* '' */
.icon-tablet:before {
  content: "\e844";
} /* '' */
.icon-tag:before {
  content: "\e845";
} /* '' */
.icon-temperature:before {
  content: "\e846";
} /* '' */
.icon-text:before {
  content: "\e847";
} /* '' */
.icon-three-rows:before {
  content: "\e848";
} /* '' */
.icon-two-rows:before {
  content: "\e849";
} /* '' */
.icon-two-columns:before {
  content: "\e84a";
} /* '' */
.icon-underline:before {
  content: "\e84b";
} /* '' */
.icon-undo:before {
  content: "\e84c";
} /* '' */
.icon-unlock:before {
  content: "\e84d";
} /* '' */
.icon-update:before {
  content: "\e84e";
} /* '' */
.icon-user:before {
  content: "\e84f";
} /* '' */
.icon-user-add:before {
  content: "\e850";
} /* '' */
.icon-user-check:before {
  content: "\e851";
} /* '' */
.icon-user-remove:before {
  content: "\e852";
} /* '' */
.icon-users:before {
  content: "\e853";
} /* '' */
.icon-volume-off:before {
  content: "\e854";
} /* '' */
.icon-volume-up:before {
  content: "\e855";
} /* '' */
.icon-warning:before {
  content: "\e856";
} /* '' */
.icon-webcam:before {
  content: "\e857";
} /* '' */
.icon-wind:before {
  content: "\e858";
} /* '' */
.icon-window:before {
  content: "\e859";
} /* '' */
.icon-work:before {
  content: "\e85a";
} /* '' */
.icon-zoom-in:before {
  content: "\e85b";
} /* '' */
.icon-zoom-out:before {
  content: "\e85c";
} /* '' */
.icon-add:before {
  content: "\e85d";
} /* '' */
.icon-archive:before {
  content: "\e85e";
} /* '' */
.icon-arrow-down:before {
  content: "\e85f";
} /* '' */
.icon-arrow-left:before {
  content: "\e860";
} /* '' */
.icon-arrow-left-down:before {
  content: "\e861";
} /* '' */
.icon-arrow-left-up:before {
  content: "\e862";
} /* '' */
.icon-arrow-right:before {
  content: "\e863";
} /* '' */
.icon-arrow-right-down:before {
  content: "\e864";
} /* '' */
.icon-arrow-right-up:before {
  content: "\e865";
} /* '' */
.icon-arrow-up:before {
  content: "\e866";
} /* '' */
.icon-attachment:before {
  content: "\e867";
} /* '' */
.icon-backspace:before {
  content: "\e868";
} /* '' */
.icon-ban:before {
  content: "\e869";
} /* '' */
.icon-bar-chart:before {
  content: "\e86a";
} /* '' */
.icon-bar-chart-alt:before {
  content: "\e86b";
} /* '' */
.icon-board:before {
  content: "\e86c";
} /* '' */
.icon-bold:before {
  content: "\e86d";
} /* '' */
.icon-book:before {
  content: "\e86e";
} /* '' */
.icon-bookmark:before {
  content: "\e86f";
} /* '' */
.icon-calendar:before {
  content: "\e870";
} /* '' */
.icon-call:before {
  content: "\e871";
} /* '' */
.icon-camera:before {
  content: "\e872";
} /* '' */
.icon-caret-down:before {
  content: "\e873";
} /* '' */
.icon-caret-left:before {
  content: "\e874";
} /* '' */
.icon-caret-right:before {
  content: "\e875";
} /* '' */
.icon-caret-up:before {
  content: "\e876";
} /* '' */
.icon-check:before {
  content: "\e877";
} /* '' */
.icon-chevron-double-down:before {
  content: "\e878";
} /* '' */
.icon-chevron-double-left:before {
  content: "\e879";
} /* '' */
.icon-chevron-double-right:before {
  content: "\e87a";
} /* '' */
.icon-chevron-double-up:before {
  content: "\e87b";
} /* '' */
.icon-chevron-down:before {
  content: "\e87c";
} /* '' */
.icon-chevron-left:before {
  content: "\e87d";
} /* '' */
.icon-chevron-right:before {
  content: "\e87e";
} /* '' */
.icon-chevron-up:before {
  content: "\e87f";
} /* '' */
.icon-circle:before {
  content: "\e880";
} /* '' */
.icon-circle-add:before {
  content: "\e881";
} /* '' */
.icon-circle-arrow-down:before {
  content: "\e882";
} /* '' */
.icon-circle-arrow-left:before {
  content: "\e883";
} /* '' */
.icon-circle-arrow-right:before {
  content: "\e884";
} /* '' */
.icon-circle-arrow-up:before {
  content: "\e885";
} /* '' */
.icon-circle-check:before {
  content: "\e886";
} /* '' */
.icon-circle-error:before {
  content: "\e887";
} /* '' */
.icon-circle-help:before {
  content: "\e888";
} /* '' */
.icon-circle-information:before {
  content: "\e889";
} /* '' */
.icon-circle-remove:before {
  content: "\e88a";
} /* '' */
.icon-circle-warning:before {
  content: "\e88b";
} /* '' */
.icon-clipboard:before {
  content: "\e88c";
} /* '' */
.icon-clipboard-check:before {
  content: "\e88d";
} /* '' */
.icon-clipboard-list:before {
  content: "\e88e";
} /* '' */
.icon-clock:before {
  content: "\e88f";
} /* '' */
.icon-close:before {
  content: "\e890";
} /* '' */
.icon-cloud:before {
  content: "\e891";
} /* '' */
.icon-cloud-download:before {
  content: "\e892";
} /* '' */
.icon-cloud-upload:before {
  content: "\e893";
} /* '' */
.icon-cloudy:before {
  content: "\e894";
} /* '' */
.icon-comment:before {
  content: "\e895";
} /* '' */
.icon-compass:before {
  content: "\e896";
} /* '' */
.icon-computer:before {
  content: "\e897";
} /* '' */
.icon-copy:before {
  content: "\e898";
} /* '' */
.icon-credit-card:before {
  content: "\e899";
} /* '' */
.icon-database:before {
  content: "\e89a";
} /* '' */
.icon-delete:before {
  content: "\e89b";
} /* '' */
.icon-delete-alt:before {
  content: "\e89c";
} /* '' */
.icon-document:before {
  content: "\e89d";
} /* '' */
.icon-document-add:before {
  content: "\e89e";
} /* '' */
.icon-document-check:before {
  content: "\e89f";
} /* '' */
.icon-document-download:before {
  content: "\e8a0";
} /* '' */
.icon-document-empty:before {
  content: "\e8a1";
} /* '' */
.icon-document-remove:before {
  content: "\e8a2";
} /* '' */
.icon-download:before {
  content: "\e8a3";
} /* '' */
.icon-drop:before {
  content: "\e8a4";
} /* '' */
.icon-edit:before {
  content: "\e8a5";
} /* '' */
.icon-edit-alt:before {
  content: "\e8a6";
} /* '' */
.icon-email:before {
  content: "\e8a7";
} /* '' */
.icon-enter:before {
  content: "\e8a8";
} /* '' */
.icon-expand:before {
  content: "\e8a9";
} /* '' */
.icon-export:before {
  content: "\e8aa";
} /* '' */
.icon-external-link:before {
  content: "\e8ab";
} /* '' */
.icon-eye:before {
  content: "\e8ac";
} /* '' */
.icon-eye-off:before {
  content: "\e8ad";
} /* '' */
.icon-favorite_select:before {
  content: "\e8ae";
} /* '' */
.icon-favorite_unselect:before {
  content: "\e8af";
} /* '' */
.icon-filter:before {
  content: "\e8b0";
} /* '' */
.icon-filter-alt:before {
  content: "\e8b1";
} /* '' */
.icon-flag:before {
  content: "\e8b2";
} /* '' */
.icon-fog:before {
  content: "\e8b3";
} /* '' */
.icon-folder:before {
  content: "\e8b4";
} /* '' */
.icon-folder-add:before {
  content: "\e8b5";
} /* '' */
.icon-folder-check:before {
  content: "\e8b6";
} /* '' */
.icon-folder-download:before {
  content: "\e8b7";
} /* '' */
.icon-folder-remove:before {
  content: "\e8b8";
} /* '' */
.icon-transgender-alt:before {
  content: "\f225";
} /* '' */
